.about-kts {

  &__content {
    width: 33%;
    float: left;
    height: auto;
    @include center;

    gap: 50px;
    &--image {
      width: auto;
      img {
        width: 100%;
      }
    }
    &--text {
      padding: 2em;
      width: 500px;
      h1 {
        margin-bottom: 1em;
      }
    }
  }
}
